#container{
  width: auto; 
}
#box-1{
  margin: 25px 50px;
  background-color:rgb(220, 220, 220) ;
  background-position: center; 
  border-radius: 25px;
  text-align:center;
  color:green;
  border: 2px solid green;
  width: 100px;
  font-weight: bold;
}
#box-2{
  margin: 25px 50px;;
  background-color:rgb(79, 209, 96) ;
  border-radius: 50%;
  text-align:center;
    width: 25px;
  height: 25px;
  color: aliceblue;
  font-weight: bold;
  line-height: 25px;
}
#box-3{
  margin: 25px 50px;;
  background-color:rgb(70, 96, 209) ;
  color: aliceblue;
  width: 150px;
  text-align:center;
  box-shadow: 5px 5px 5px rgb(7, 6, 6);
  border: 2px solid rgb(0, 14, 0);  
}
