<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .top {
            display: flex;
            justify-content: space-between;
        }

        .right {
            display: inline-block;
        }

        .right a {
            margin: 20px 0;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome, {{current_user.first_name}}</h1>
        <div class="top">
            <div><h2>All Posted Recipes : </h2></div>
            <div class="right">
                <a href="/recipes/new">+ Create</a>
                <a href="/logout">Logout</a>
            </div>
        </div>

        <div class="main">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Under</th>
                    <th scope="col">Posted By</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for one_recipe in all_recipes:%}
                    <tr>
                        <td>{{one_recipe.name }}</td>
                        <td>{{ "Yes" if one_recipe.under == 1 else "No" }}</td>
                        <td>{{one_recipe.posted_by.first_name }}</td>
                        <td><a href="/recipes/{{one_recipe.id}}"> view recipe</a>  |
                        {% if one_recipe.user_id == current_user.id %}
                            <a href="/recipes/edit/{{one_recipe.id}}"> edit</a>  |
                            <form action="/recipes/delete/{{one_recipe.id}}" method="POST" style="display: inline;">
                                <button type="submit">Delete</button>
                            </form>
                        {%endif%}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
</body>
</html>
