<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>events</title>
</head>
<body>

    <div class="card">
        <div class="card-body">
            <h6 class="mb-2 text-primary">Upcoming events</h6>

            {% for event in events %}

            <h1>{{event.event_name}}</h1>
            {%endfor%}
            <div class="">
                    
            </div>
        </div>





    </div>
</body>
</html>